<template>
  <v-container class="createComponent">
    <v-alert
      type="success"
      text
    >
      This is the Create Component Page.
    </v-alert>
    <v-form>
      
    </v-form>
  </v-container>
</template>

<script>
export default {
    name: 'CreateComponent'
};
</script>