<template>
    <v-container>
        <v-form>
            <v-text-field v-model="componentId" placeholder="Enter Component ID"></v-text-field>
        </v-form>
        <v-btn v-on:click="getComponent">Get Component</v-btn>
        <div class="componentDump" v-if="imageUrl">
            <img v-bind:src="imageUrl" />
            <v-form>
                <!--Loop through properties of loaded component and display on form-->
                <!-- <v-btn v-on:click='saveComponent'>Save Component</v-btn> -->
            </v-form>
        </div>
    </v-container>
</template>

<script>
const axios = require('axios');

export default {
    name: 'GetComponent',
    data: function() {
        return {
            componentId: 0,
            imageUrl: ''
        };
    },
    methods: {
        getComponent: function() {
            axios
                .post('https://yccwbgksyg.execute-api.us-east-1.amazonaws.com/dev/getComponentById', {
                    componentId: this.componentId
                })
                .then(({ data }) => {
                    this.imageUrl = data.imageUrl;
                });
        },
        saveComponent: function() {
            axios
                .post('https://yccwbgksyg.execute-api.us-east-1.amazonaws.com/dev/saveComponent', this.componentToSave)
                .then(({ data }) => {
                    console.log({ data });
                });
        }
    }
};
</script>
