<template>
  <v-container class="createComponentSet">
    <v-alert
      type="success"
      text
    >
      This is the Home Page.
    </v-alert>
    <p>Click any item on the left navigation to get started</p>
  </v-container>
</template>

<script>
export default {
    name: 'Home'
};
</script>