<template>
    <v-navigation-drawer floating permanent class="mainNavDrawer">
        <router-link to="/">
            <v-avatar class="d-block text-center mx-auto mb-9" size="50" tile>
                <img src="https://pbs.twimg.com/profile_images/874276197357596672/kUuht00m_400x400.jpg" />
            </v-avatar>
        </router-link>
        <router-link v-for="route in routes" :key="route.id" :to="route.to">
            <v-btn class="d-block text-center mx-auto mb-9">
                {{ route.name }}
            </v-btn>
        </router-link>
    </v-navigation-drawer>
</template>

<script>
export default {
    name: 'MainNavigation',
    data: function() {
        return {
            routes: [
                {
                    name: 'Get Component',
                    to: '/getComponent',
                    id: 0
                },
                {
                    name: 'Create Component',
                    to: '/createComponent',
                    id: 1
                },
                {
                    name: 'Create Component Set',
                    to: '/createComponentSet',
                    id: 2
                },
                {
                    name: 'Save Assets',
                    to: '/saveAsset',
                    id: 3
                }
            ]
        };
    }
};
</script>
<style scoped lang="scss">
@import '../scss/_variables.scss';
.mainNavDrawer.theme--light.v-navigation-drawer {
    background-color: $color-background;
    color: $color-main-green;
    a {
        text-decoration: none;
        .theme--light.v-btn {
            border-radius: 0;
            color: $color-main-green;
            background-color: $color-main-blue;
            width: 200px;
            height: 40px;
        }
        .theme--light.v-btn:hover {
            opacity: 1;
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='#{$color-main-green-url}' stroke-width='6' stroke-dasharray='70%2c 170' stroke-dashoffset='55' stroke-linecap='square'/%3e%3c/svg%3e");
            // border generated with this: https://kovart.github.io/dashed-border-generator/
        }
        .theme--light.v-btn:before {
            opacity: 0;
        }
        // .theme--light.v-btn:before {
        //     content: ' ';
        //     border-left: 2px solid $color-main-green;
        //     border-top: 2px solid $color-main-green;
        //     border-bottom: 2px solid $color-main-green;
        //     margin-right: 10px;
        //     padding: 10px 5px 10px 5px;
        //     background-color: $color-main-blue;
        //     opacity: 1;
        //     right: auto;
        // }
        // .theme--light.v-btn:after {
        //     content: ' ';
        //     padding: 16px 5px 0px 5px;
        //     border-right: 2px solid $color-main-green;
        //     border-top: 2px solid $color-main-green;
        //     border-bottom: 2px solid $color-main-green;
        //     margin-left: 172px;
        //     box-shadow: none;
        //     vertical-align: auto;
        // }
    }
}
</style>
