<template>
    <v-navigation-drawer app permanent color="grey lighten-3" expand-on-hover class="mainNavDrawer">
        <router-link to="/">
            <v-avatar class="d-block text-center mx-auto mb-9" size="50" tile>
                <img src="https://pbs.twimg.com/profile_images/874276197357596672/kUuht00m_400x400.jpg" />
            </v-avatar>
        </router-link>
        <router-link v-for="route in routes" :key="route.id" :to="route.to">
            <v-btn class="d-block text-center mx-auto mb-9">
                {{ route.name }}
            </v-btn>
        </router-link>
    </v-navigation-drawer>
</template>

<script>
export default {
    name: 'NavigationDrawer',
    data: function() {
        return {
            routes: [
                {
                    name: 'Get Component',
                    to: '/getComponent',
                    id: 0
                },
                {
                    name: 'Create Component',
                    to: '/createComponent',
                    id: 1
                },
                {
                    name: 'Create Component Set',
                    to: '/createComponentSet',
                    id: 2
                },
                {
                    name: 'Save Assets',
                    to: '/saveAsset',
                    id: 3
                }
            ]
        };
    }
};
</script>
<style scoped lang="scss">
@import '../scss/_variables.scss';
.mainNavDrawer {
    padding-top: 5px;
    color: $color-main-green;
}
</style>
