<template>
    <v-container>
        <v-form>
            <v-text-field v-model="game" placeholder="Game Name"></v-text-field>
            <v-file-input
                v-model="assetFile"
                :show-size="1000"
                accept="image/*"
                placeholder="Select Asset File (6mB maximum)"
            ></v-file-input>
        </v-form>
        <v-btn v-on:click="saveAsset">Save Asset</v-btn>
        <div class="componentDump">
            <img v-bind:src="imageUrl" />
        </div>
    </v-container>
</template>

<script>
const axios = require('axios');

export default {
    name: 'GetComponent',
    data: function() {
        return {
            game: '',
            imageUrl: undefined
        };
    },
    methods: {
        saveAsset: async function() {
            let formData = new FormData();
            formData.append('file', this.assetFile);
            formData.append('gameName', this.game);

            console.log({ formData: formData.values(), assetFile: this.assetFile });
            axios
                .post('https://yccwbgksyg.execute-api.us-east-1.amazonaws.com/dev/saveAsset', formData)
                .then(({ data }) => {
                    console.log({ data });
                    this.imageUrl = data.assetUrl;
                });
        }
    }
};
</script>
