/* eslint-disable vue/no-unused-components */
<template>
    <v-app id="assetGen">
        <NavigationBar />
        <MainNavigation />
        <v-main>
            <router-view></router-view>
        </v-main>
    </v-app>
</template>

<script>
import NavigationBar from './components/NavigationBar.vue';
import MainNavigation from './components/MainNavigation.vue';

export default {
    name: 'App',
    components: {
        NavigationBar,
        MainNavigation,
    }
};
</script>
<style lang="scss">
@import './scss/_variables.scss';
.theme--light.v-application.v-application--is-ltr {
    background-color: $color-background;
    color: $color-main-green;
}
</style>
